@charset "utf-8";

/* 레아이웃 */
#wrap {width: 100%;}
#header {height: 325px; background: #111;}
#contents {height: 800px; background: #222;}
#footer {height: 200px; background: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav {height: 200px; background: #444;}
#cont_tit {height: 200px; background: #555;}
#cont_ban {height: 200px; background: #666;}
#cont_cont {height: 200px; background: #777;}

/* 컨테이너 */
.container { 
  width: 990px; 
  margin: 0 auto; 
  height: inherit;
  background: rgba(255, 255, 255, 0.3);
}